name: Lint

on: [push, pull_request]

jobs:
    lint:
        runs-on: ubuntu-latest
        timeout-minutes: 15
        env:
            RUSTC_WRAPPER: "sccache"
            SCCACHE_GHA_ENABLED: "true"
        steps:
            - uses: actions-rs/toolchain@v1
              with:
                  profile: minimal
                  # Use the latest stable Rust version for lint checks to
                  # verify any new Clippy warnings that may appear.
                  toolchain: stable
                  default: true
                  components: clippy, rustfmt
            - uses: actions/checkout@v4
            - uses: mozilla-actions/sccache-action@v0.0.9
            - run: cargo clippy -- -D warnings
            - run: cargo clippy --all-features --all-targets -- -D warnings
            - run: cargo fmt -- --check

    pre-commit:
        runs-on: ubuntu-latest
        timeout-minutes: 15
        steps:
            - uses: actions/checkout@v4
            - run: sudo sh -ec 'echo "set man-db/auto-update false" | debconf-communicate; dpkg-reconfigure man-db'
            - run: sudo apt-get install pre-commit
            - run: pre-commit run -a
